<div class="container">

    <div class="row">
        <div class="col">
            <h1>*ngIf</h1>
            <hr>
            <div *ngIf="mostrar" class="card border-primary mb-3" style="width: 100%">
            <!--div class="card-header">Header</div-->
            <div class="card-body text-primary">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
            </div>
            <button (click)=" mostrar = !mostrar " type="button" class="btn btn-primary btn-lg">Ocultar / Mostrar</button>
            <!--  class='btn-block' -> El boton todo el ancho del div-->
        </div>
    
        <div class="col">
            <h1>Mas buscados</h1>
            <hr>
            <a href="#" class="list-group-item list-group-item-action active">
                Opciones rápidas
            </a>
            <div *ngFor="let iterador of elementos_list; let i = index" class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        {{i+1}}. {{ iterador[1] }}
                    </a>
            </div>
        </div>
        
    </div>

</div>
